.error-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.error-page > a > img {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  padding: 30px;
  color: white;
}
